<div class="limiter pt-75">
  <div class="container-login100" style="background-image: url('/assets/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <%= form_for(resource, as: resource_name, class: 'login100-form validate-form', url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <span class="login100-form-title p-b-49">
          Resend confirmation instructions
        </span>
        <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
          <span class="label-input100">Email</span>
          <%= f.email_field :email, autofocus: true, class: 'input100', autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          <span class="focus-input100 custom-icon"><i class="fa fa-user"></i></span>
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <%= f.submit "Resend confirmation instructions" , class: 'login100-form-btn bg-transparent pointer' %>
          </div>
        </div>
        <div class="txt1 text-center p-t-54 p-b-20">
          <%- if controller_name != 'sessions' %>
            <%= link_to "Log in", new_session_path(resource_name), class: 'txt2 underline' %>
          <% end %>
        </div>
        <div class="flex-c-m p-b-20">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class: 'txt2 underline' %>
          <% end %>
        </div>
        <div class="flex-c-m p-b-20">
          <%= link_to  user_facebook_omniauth_authorize_path, class: 'login100-social-item bg1' do %>
          <i class="fa fa-facebook"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
