<!--**********************************
Content body start
***********************************-->
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="card">
          <div class="card-body">
					
						<p id="notice"><%= notice %></p>

						<p>
						  <strong>Name:</strong>
						  <%= @sub_category.name %>
						</p>

						<p>
						  <strong>Description:</strong>
						  <%= @sub_category.description %>
						</p>

						<p>
						  <strong>Category:</strong>
						  <%= @sub_category.category.name rescue "" %>
						</p>

						<%= link_to 'Edit', edit_sub_category_path(@sub_category) %> |
						<%= link_to 'Back', sub_categories_path %>

         </div>
        </div>
      </div>
    </div>
  </div>
<!-- #/ container -->
</div>
<!--**********************************
Content body end
***********************************-->