<!--  **********************************
Content body start
***********************************-->
<div class="main-div">
  <div id="creative-clusters-div"> 
    <div class="content-body">
    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">page name</a></li>
        </ol>
      </div>
    </div>
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class= "col-sm-4" style="padding-left: 18px;color: #0d182f;font-size: 24px;font-weight: 300">Creative Clusters
                </div>
                <div class="col-sm-4">APP GUIDE</div>
                <div class="col-sm-4">Date selector</div>
              </div>
              <div class="row">
                <div class="col-sm-12" style="margin-top: 8px;
                  font-size: 12px;font-weight: 300;padding-left: 18px;max-width: 950px;">Creative Clusteres analyze creative combinations based on consolidated ad elements. By discovering, analyzing and comparing different creative clusters, you will be able to unleash the single ad elements that drive highly performing ads. Use the Creative Cluster to analyze Winning creative factors and compare clusters. Once Madgicx found new actionable opportunities, you can deploy new marketing campaigns with 1 click.
                </div>
              </div>
              <div class="row" style="margin-top: 8px;" >
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-3" style="font-size: 18px;font-weight: 700;">Top Creatives
                    </div>
                    <div class="col-sm-7">
                      <div class="row">
                        <div class="col-sm-3" style="font-size: 10px;">
                          High Performance
                        </div>
                        <div class="col-sm-3">
                          <div class="row"> 
                            <div class="col-sm-3" style="background-color: rgb(138, 191, 197);">a</div>
                            <div class="col-sm-3" style="background-color: rgb(200, 222, 225);">b</div>
                            <div class="col-sm-3" style="background-color: rgb(237, 246, 246);">c</div>
                            <div class="col-sm-3" style="background-color: rgb(246, 235, 239);">d</div>
                          </div>
                        </div>
                        <div class="col-sm-3" style="font-size: 10px";>
                          Low Performance
                        </div>
                        <div class="col-sm-2" style="font-size: 10px;">
                          Nonexistent Cluster
                        </div>
                        <div class="col-sm-1" style="height: 10px;width: 10px;
      background-color: #000"></div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <button class="filter-button" id="create-creatives-btn">Create</button>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 8px;">
                    <div class="col-sm-5" style="font-size: 10px;">Graded By - Dropdown</div>
                    <div class="col-sm-5" style="font-size: 12px;">Min Spend - <span>A$<input type="number" min="0"  value="5"></span></div>
                   
                    <div class="col-sm-2">
                      <button class="filter-button">Filters</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="table-responsive set-height">
                <table class="table table-bordered" id="creative-table" >
                  <thead>
                    <tr >
                      <th>
                        <div style="width: 150px;font-size: 18px;font-weight: 700;">
                          Top Ad Copies
                        </div>
                      </th>
                      <% @frames.each_with_index do |iframe, index| %>
                        <th>
                          <iframe id="frame_<%= index %>" src=<%= iframe %>></iframe>
                        </th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <%# @frames.each do |t| %>
                    <% @ad_copies.each_with_index do |t, ad_index|  %>
                      <tr>
                        <td class="ad-copy"><%= t %>
                        </td>
                        <% @frames.each_with_index do |f,index| %>
                          <td class="combination_cell">
                            <input type="checkbox" onclick="checkbox_function(this, <%= ad_index%>, <%=index %>  )" col-no = "1"  row_text = "<%= t %>" ad-index="<%= ad_index%>" index="<%=index %>" data-toggle="tooltip" data-placement="bottom" title="" id="combination-checkbox_<%= ad_index %><%= index %>">
                            <button onclick="creative_function(this, <%=index%>)" col-no = "2"  row_text = "<%= t %>"  data-toggle="tooltip" data-placement="bottom" title="<b>Results<b>">Ad Preview
                            </button>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- #/ container -->
    </div>
  </div>

  <div id="creative-upload-div">
    <div class="content-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <button id="back-btn">BACK</button>
                </div>
                <div class="col-sm-4">
                  EDIT
                </div>
                <div class="col-sm-4">
                  <button>CREATE</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Your selected creative combinations that will be launched as ads:</h5>
                <div class="row appended-ad">
                  
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="row">
                  <div class="col-sm-6">
                    <h5>Select ad sets to launch this creative combination </h5>
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" class="form-check-input" value="selected" checked="true" disabled="disabled">
                    <label class="form-check-label">Selected</label>
                  </div>
                  <div class="col-sm-3">
                    <input type="checkbox" class="form-check-input" value="selected" disabled="disabled">
                    <label class="form-check-label">Not Selected</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="active-pink-3 active-pink-4 mb-4">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                  </div>
                </div> 
              </div>
              <form>
                <div>
                  <div class="row" style="margin-left: 10px;">
                    <div class="col-sm-6">
                      <input type="checkbox" id="check-missing" class="form-check-input">
                      <label class="form-check-label" >Apply to Ad Sets that are missing this Creative Combination</label>
                    </div>
                  </div>
                  <div class="row mt-3" style="margin-left: 10px;">
                    <div class="col-sm-6">
                      <input type="checkbox" id="check-all-campaigns" 
                      class="form-check-input">
                      <label class="form-check-label">Launch into all Ad Sets</label>
                    </div>
                  </div>
                </div>
                <div class="row mt-3" id="all-campaigns" style="margin-left: 10px;">

                  <% @campaign_names.each_with_index do |name,camp_index| %>
                    <div class="col-sm-12 mt-3" style="margin-left: 20px;" >
                      <input type="checkbox" id="camp_<%= camp_index%>" class="form-check-input camp">
                      
                      <span id="ad-set-dropdown_<%= camp_index %>" onclick="ad_set_function(this, <%= camp_index %>)"><i class="fa fa-caret-right" style="font-size:24px"></i></span>
                      <label class="form-check-label"><%= name %>
                      </label>
                      <div id="ad_set_<%= camp_index %>" class="ad_sets_div"> 
                      
                        <% @camp_ad_sets.each_with_index do |subcheckboxes,ad_set_index| %>
                          <div class="row">
                            <div class="ad-sm-12 mt-2" style="margin-left: 20px;">
                              <input type="checkbox" class="form-check-input">
                              <label class="form-check-label"><%= subcheckboxes %></label>
                            </div>
                          </div>
                        <% end %>
                      </div> 
                    </div>
                  <% end %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
    </div>
  </div>
</div>

<!--**********************************
Content body end
***********************************-->
<div class="modal" id="my-modal"  tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="ad-copy-text-row"></div>
        <!-- <div id="test"></div> -->
      </div>
    </div>
  </div>
</div>

<style>
  .toggle-ad-sets{
    display: none;
  }
  .filter-button{
    padding: 6px 40px;
    background-color: #fff;
    border: 1px solid #d7dbe3;
    border-radius: 13px;
    color: #0d182f;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
  }
  .ad-copy-text{
    width: 20px;
  }
  .set-height{
    height: 500px;
  }
  .modal-content{
    width: 560px;
  }
  #creative-upload-div{
    display: none;
  }
</style>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  $("#create-creatives-btn").click(function(){
    $("#creative-clusters-div").hide();
    $("#creative-upload-div").show();
  });


  $("#back-btn").click(function(){
    $("#creative-upload-div").hide();
    $("#creative-clusters-div").show();
  });

  $(".ad_sets_div").hide();
  $("#check-all-campaigns").change(function(){
    
    $("#all-campaigns input:checkbox").prop('checked', $(this).prop("checked"));
  });

  $(".ad-set-dropdown").click(function(){
    $(".toggle-ad-sets").toggle();
  });
  
  function checkbox_function(obj, index_first, index_second){
    
    row_text_append =  $(obj).attr("row_text");
    col_frame_append = $("#frame_"+ index_second).attr("src");
    
    if($("#combination-checkbox_"+index_first +index_second).is(':checked'))
    {
       
      $(".appended-ad").append("<div class='col-sm-3' id="+ index_first + index_second + "><p>" + row_text_append + "</p><iframe src=" + col_frame_append + " " + " width='200px' height='200px'></iframe></div>");
      
    }else{
      $("#"+index_first +index_second).remove();
    }
  }
  

  // $("#combination-checkbox_"+index_one +index_two).on('change', function(){

  function creative_function(obj, index){
    var col_val = $(obj).attr("col-no");
    var row_text = $(obj).attr("row_text");
    var col_frame = $("#frame_"+ index).attr("src");
      //   newArray.push('"<p>"+row_text+"</p><iframe src="+col_frame+" width="520px" height="450px"></iframe>"');

      //  $("#my-modal").modal("show");
      //  $("#ad-copy-text-row").html("<p>"+row_text+"</p><iframe src="+col_frame+" width='520px' height='450px'></iframe>");
    if ($(obj).attr("col-no") == 2) 
    {
      $("#my-modal").modal("show");
      $("#ad-copy-text-row").html("<p>"+row_text+"</p><iframe src="+col_frame+" width='520px' height='450px'></iframe>");
    }else {
      $("#ad-copy-text-row").html("<p>"+row_text+"</p><iframe src="+col_frame+" width='520px' height='450px'></iframe>"); 
    }    
  }
  // Upload creative script
  function ad_set_function(obj, index){
    $("#ad_set_" +index).toggle();

    $("#camp_" +index ).change(function(){
      
      $("#ad_set_"+index+" "+"input:checkbox").prop('checked', $(this).prop("checked"));
    });
  }
  $('[data-toggle="tooltip"]').tooltip();
</script> -->