
<div class="container pt-75" style="height: 100%;">
  <!-- Trigger/Open The Modal -->
  <div class="text-center pt-75">
    <button type="button" class="animated-btn primary-btn custom-btn text-white" data-toggle="modal" data-target="#campaignModal">
      <i class="fa fa-plus"></i> Create New Campaign
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="campaignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Campaign</h5>
          <button type="button" class="close" data-dismiss="modal"aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_with scope: :campaign, url: campaigns_path, id: 'campaign_form', validate: 'true', local: true do |form| %>


            <div class="form-group">
              <%= form.label :name %>
              <%= form.text_field :name, class: 'form-control', placeholder: 'Campaign Name ' %>
            </div>

            <div class="form-group">
              <%= form.label :special_ad_category %>
              <%= form.select :special_ad_category, ['HOUSING','CREDIT','EMPLOYMENT','NONE'], {}, {class: 'form-control'} %>
            </div>

            <div class="form-group">
              <%= form.label :objective %>
              <%= form.select :objective, ['LINK_CLICKS','OFFER_CLAIMS','PAGE_LIKES','POST_ENGAGEMENT','PRODUCT_CATALOG_SALES','VIDEO_VIEWS','LEAD_GENERATION','LOCAL_AWARENESS','BRAND_AWARENESS','REACH','APP_INSTALLS','MESSAGES','CONVERSIONS'], {}, { class: 'form-control'} %>
            </div>

            <div class="form-group">
              <%= form.label :status %>
              <%= form.select :status, ['ACTIVE','PAUSED'], {}, { class: 'form-control'} %>
            </div>

            <div class="form-group">
              <%= form.label :buying_type %>
              <%= form.select :buying_type, ['AUCTION'], {}, { class: 'form-control'} %>
            </div>

            <div class="form-group">
              <%= form.label :Set_the_Campaing_Budget %>
              <%= form.text_field :daily_budget, class: 'form-control',value: '4000.00' %>
            </div>

            <div class="form-group">
              <%= form.submit "Create Campaign", class: 'btn mb-1 btn-primary custom-btn text-white  btn-submit-campaign' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>