<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xl-12">
      <div class="card mb-1">
        <div class="card-body branio-crt-new-aud-box">
          <div class="card-title col-md-12">
            <div class="row">
              <a href="javascript:void(0);" class="btn btn-primary btn-block col-lg-2 step_two_back"><i class="fa fa-caret-left"></i> Back to Audiences</a>
              <div class="col-lg-8 text-center"><h4>Campaign Set Up</h4></div>
              <a href="javascript:void(0);" class="btn btn-primary btn-block col-lg-2 step_two_next">Next <i class="fa fa-caret-right"></i></a>
            </div>
            <div class="py-2"></div>
            <div class="row">
              <div class="col-lg-12 text-left">
                <p class="h6">Let’s assign your audiences to a suitable campaign. You can follow Brainio's recommendation and divide them according to the funnel stages, or launch all of them into a single campaign of your choice.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="Audience_Based_Campaign_step_2">
    <div class="Audiences__Campaign">
      <span class="Audiences__Campaign__Header">
        <svg width="15" height="15" viewBox="0 0 15 15">
          <g>
            <g>
              <g>
                <g>
                  <path fill="#fff" d="M0 3c0-1.5 1.5-3 3-3h9c1.5 0 3 1.5 3 3v9c0 1.5-1.5 3-3 3H3c-1.5 0-3-1.5-3-3z"></path>
                </g>
              </g>
              <g>
                <path fill="#475993" d="M12.979 0H2.02A2.021 2.021 0 0 0 0 2.021V12.98C0 14.095.905 15 2.021 15h5.404l.01-5.36H6.042a.329.329 0 0 1-.329-.327l-.006-1.728c0-.182.146-.33.328-.33h1.39v-1.67c0-1.937 1.184-2.992 2.912-2.992h1.418c.182 0 .329.147.329.329v1.456a.329.329 0 0 1-.329.329h-.87c-.94 0-1.122.447-1.122 1.103v1.445h2.066c.196 0 .349.172.326.367L11.95 9.35a.329.329 0 0 1-.326.29H9.772L9.763 15h3.216A2.021 2.021 0 0 0 15 12.98V2.02A2.021 2.021 0 0 0 12.979 0z"></path>
              </g>
            </g>
          </g>
        </svg>
        <span class="Audience__CampaignTitle">Where to launch Facebook ad sets:</span>
      </span>
      <div class="Audiences__Campaign__Body">
        <div class="CBOWarning">
          <svg width="17" height="14" viewBox="0 0 17 14">
            <defs>
              <path id="auyja" d="M125.168 146.734a.4.4 0 0 1-.35.204h-13.355a.402.402 0 0 1-.343-.61l6.677-11.075a.401.401 0 0 1 .687 0l6.677 11.074c.076.128.08.28.007.407zm.903-.953l-6.678-11.075a1.473 1.473 0 0 0-1.253-.706c-.508 0-.988.27-1.252.706l-6.678 11.075a1.466 1.466 0 0 0-.022 1.475c.258.458.747.744 1.275.744h13.355a1.47 1.47 0 0 0 1.275-.744 1.466 1.466 0 0 0-.022-1.475z"></path>
              <path id="auyjb" d="M118.147 143.415c.235 0 .57-.127.57-.432 0-1.17.136-2.853.136-4.023 0-.384-.324-.6-.71-.6-.403 0-.718.216-.718.6 0 1.17.137 2.852.137 4.022.003.306.27.433.585.433z"></path>
              <path id="auyjc" d="M118.156 144.092a.75.75 0 0 0-.756.757c0 .404.324.757.756.757a.767.767 0 0 0 .748-.757.765.765 0 0 0-.748-.757z"></path>
            </defs>
            <g>
              <g transform="translate(-110 -134)">
                <g>
                  <use fill="#ef9f28" xlink:href="#auyja"></use>
                </g>
                <g>
                  <use fill="#ef9f28" xlink:href="#auyjb"></use>
                </g>
                <g>
                  <use fill="#ef9f28" xlink:href="#auyjc"></use>
                </g>
              </g>
            </g>
          </svg>
          <span>CBO Campaign budget may change according to Facebook's minimum budget policy.</span>
        </div>
        <label class="MadgicxRadioButton">
          <div class="Campaign__Head__LearningWidget">
            <div class="Campaign__Head__Label">
              <h5>Launch into brainio optimized structure</h5>
              <p>It's recommended to launch different core audiences into different campaigns.</p>
            </div>
            <div class="LearningWidget_LearningWidget__8gYe4 LearningWidget">
              <div class="IconWrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
                  <g>
                    <g>
                      <path fill="none" stroke="#9f81eb" stroke-miterlimit="50" stroke-width="1.5" d="M10.621 1a9.158 9.158 0 0 0-8.044 13.53l-1.112 4.782v0L6.247 18.2a9.158 9.158 0 0 0 13.53-8.044c0-5.055-4.1-9.156-9.156-9.156z"></path>
                    </g>
                    <g>
                      <path fill="#9f81eb" d="M10.163 15.351c.315 0 .588-.11.81-.332.227-.221.338-.483.338-.792 0-.309-.111-.57-.344-.786a1.173 1.173 0 0 0-.821-.327c-.315 0-.589.111-.816.332a1.062 1.062 0 0 0-.338.793c0 .308.117.57.35.786.233.215.507.326.821.326zm.816-3.355v-.67c0-.402.093-.716.273-.937.07-.082.163-.181.28-.297.116-.117.256-.251.425-.408.169-.157.303-.286.402-.385.099-.099.245-.273.437-.512.332-.402.495-.903.495-1.509 0-.873-.28-1.555-.845-2.044-.565-.49-1.293-.734-2.19-.734s-1.642.256-2.242.763c-.6.507-.95 1.206-1.049 2.103h1.83c.04-.39.192-.705.448-.944.262-.239.576-.355.96-.355.385 0 .694.128.939.372.238.245.36.554.36.927 0 .372-.116.687-.349.937l-1.1 1.101c-.327.32-.536.577-.63.775-.099.192-.145.495-.145.897v.92z"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="Title">Why Use Brainio Default Structure?</div>
              <div class="OptionsMenu">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" class="">
                  <g>
                    <g>
                      <path fill="#0a4673" d="M14.164 5.15H3.836v-.934h10.328zm0 4.297H3.836v-.933h10.328zm0 4.298H3.836v-.934h10.328zM3.836 10.662h7.851v.934H3.836zm0-4.297h7.851v.933H3.836zM9 0a9 9 0 1 0 0 18A9 9 0 0 0 9 0z"></path>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <input type="radio" name="launch_where" value="into_brainio" class="into_brainio" checked><span></span>
        </label>
        <div class="Campaign__Table">
          <div class="Campaign__Table__th">
            <div>Audiences</div>
            <div>Campaign</div>
            <div>Type</div>
            <div>Name</div>
            <div>Campaign Objective</div>
            <div>Campaign Budget</div>
          </div>
          <%@audiences_with_category.each do |category, audiences|%>
            <%category = Category.find_by_id(category)%>
            <div class="Campaign__Table__tr audience_group_row">
              <div>
                <div class="Campaign__Table__Audience__Count"><%=audiences.size%></div>
                <%=hidden_field_tag "audience_group[#{category.id}][audience_group_ids]", audiences.pluck(:id).join(",") %>
              </div>
              <div>
                <div class="Campaign__Table__Audience__Campaign">
                  <div class="Filter__CategoryIndicator re_engagement"></div>
                  <span><%=category.name%> Campaign</span>
                </div>
              </div>
              <div>
                <div class="Campaign__Table__Audience__Type">
                  <span class="custom_toggle">
                    <input type="checkbox" class="cbo_campaign_on_off" name="audience_group[<%=category.id%>][is_cbo_campaign]" id="switch_<%=category.id%>" />
                    <label for="switch_<%=category.id%>">Toggle</label>
                  </span>
                  <span>CBO Campaign </span>
                </div>
              </div>
              <div>
                <div class="Campaign__Table__Audience__Name">
                  <div class="Campaign__Table__Audience__Name__New">NEW</div>
                  <input name="audience_group[<%=category.id%>][campaign_name]" class="Campaign__Table__Audience__Name__input" type="text" placeholder="Choose the name for your Master Campaign" maxlength="128" value="Brainio - <%=category.name%> Campaign" data-name="Brainio - <%=category.name%> Campaign">
                </div>
              </div>
              <div>
                <div class="Campaign__Table__Audience__Objective">
                  <div class="SimpleDropdown  ">
                    <select name="audience_group[<%=category.id%>][campaign_objective]" class="campaign_objective">
                      <option value="conversions">Conversions</option>
                      <option value="leads">Leads</option>
                    </select>
                  </div>
                </div>
              </div>
              <div>
                <div class="Campaign__Table__Audience__Budget">
                  <div class="Campaign__Table__Audience__Budget__No__Cbo budget_no_cob">Budget is set on ad set level</div>
                  <div class="budget Campaign__Table__Audience__Count" style="display: none;">0</div>
                </div>
              </div>
            </div>
          <%end%>  
        </div>
        <label class="MadgicxRadioButton">
          <div class="Campaign__Head__Label">
            <h5>Launch all audiences into a campaign of your choice</h5>
            <p>Choose this option if you want to have all audiences in one campaign.<br>All audiences will be launched into one campaign regardless of the core audience.</p>
          </div>
          <input type="radio" name="launch_where" value="into_selected_campaign" class="into_selected_campaign"><span></span>
        </label>
        <div class="Campaign__Table">
          <div class="Campaign__Table__th Campaign__Table__th--NewCampaign">
            <div>Audiences</div>
            <div>Name</div>
            <div>Campaign Budget</div>
          </div>
          <div class="Campaign__Table__tr Campaign__Table__tr--NewCampaign">
            <div>
              <%=hidden_field_tag 'audience_group_ids', @audiences_with_category.values.flatten.pluck(:id).join(',')%>
              <div class="Campaign__Table__Audience__Count"><%=@audiences_with_category.values.flatten.size%></div>
            </div>
            <div class="search_and_drop-box" id="campaign_search_and_drop_box">
              <%=render 'campaign_search_and_drop_box'%>
            </div>
            <div>
              <div class="Campaign__Table__Audience__Budget">
                <div class="Campaign__Table__Audience__Budget__No__Cbo campaign_budget_txt">Budget is set on ad set level</div>
                <div class="budget Campaign__Table__Audience__Count campaign_budget" style="display: none;"></div>
              </div>
            </div>
          </div>
          <div class="Campaign__Table__tr">
            <span class="Campaign__Table__Campaign__Creation">
              <div>
                <div class="AdContainer__Overlay"></div>
                <button type="button" class="CreateCampaignButton">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <g>
                      <g>
                        <g opacity=".88">
                          <path fill="#fff" d="M0 9.699C0 4.286 4.388-.103 9.801-.103s9.802 4.389 9.802 9.802c0 5.413-4.389 9.801-9.802 9.801C4.388 19.5 0 15.112 0 9.699z"></path>
                        </g>
                        <g>
                          <g>
                            <path fill="none" stroke="#7655c9" stroke-linecap="round" stroke-miterlimit="50" stroke-width="2" d="M9.84 4.51v10.456"></path>
                          </g>
                          <g>
                            <path fill="none" stroke="#7655c9" stroke-linecap="round" stroke-miterlimit="50" stroke-width="2" d="M4.612 9.738h10.456"></path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                  <span style="margin-left: 10px;" class="open_create_modal">Create New Campaign</span>
                </button>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>