<!-- <div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script> -->

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
<!--**********************************
Content body start
***********************************-->
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="card">
          <div class="card-body branio-crt-new-aud-box">
            <div class="card-title">
              <div id="TacticWizardStepper" class="Step1">
                <div class="StepperContainer">
                  <button type="button" class="MadgicxButton back pointer">
                    <div class="Wrapper">
                      <svg width="8" height="12" viewBox="0 0 8 12" class="NavArrow Left"><defs><path id="zg45a" d="M25.4 19.6L20.8 15l4.6-4.6L24 9l-6 6 6 6z"></path></defs><g><g transform="translate(-18 -9)"><use fill="currentColor" xlink:href="#zg45a"></use></g></g></svg><div class="back line-height-10 ">Back</div>
                    </div>
                  </button>
                  <button type="button" class="MadgicxButton1 back1 pointer">
                    <div class="Wrapper">
                      <svg width="8" height="12" viewBox="0 0 8 12" class="NavArrow Left"><defs><path id="zg45a" d="M25.4 19.6L20.8 15l4.6-4.6L24 9l-6 6 6 6z"></path></defs><g><g transform="translate(-18 -9)"><use fill="currentColor" xlink:href="#zg45a"></use></g></g></svg><div class="back1 line-height-10">Back</div>
                    </div>
                  </button>
                  <div class="Content">
                    <div id="title1">Select the Ad Creatives
                    </div>
                    <div id="title2">Set Up the Audiences
                    </div>
                    <div id="title3">Summary
                    </div>
                    <div id="Stepper">
                      <div class="LinesContainer LinesContainer--Step1">
                        <div class="LinesContainer__Line LinesContainer__Line--1">
                        </div>
                        <div class="LinesContainer__Line LinesContainer__Line--2">
                        </div>
                      </div>
                      <button class="Button Selected" id="ad_selection">1
                      </button>
                      <button class="Button Selected" id="set_audience">2
                      </button>
                      <button class="Button Selected" id="summary">3
                      </button>
                    </div>
                  </div>
                  <button type="button" class="NextButton MadgicxButton next pointer">
                    <div class="Wrapper">
                      <div class="next line-height-10 px-2">Next</div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12"><defs><path id="twwya" d="M1299.6 38.4l4.6 4.6-4.6 4.6 1.4 1.4 6-6-6-6z"></path></defs><g><g transform="translate(-1299 -37)"><use fill="#fcfcfc" xlink:href="#twwya"></use></g></g>
                      </svg>
                    </div>
                  </button>
                  <button type="button" class="NextButton1 MadgicxButton1 next1 pointer">
                    <div class="Wrapper">
                      <div class="next1 line-height-10 px-2">Next</div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12"><defs><path id="twwya" d="M1299.6 38.4l4.6 4.6-4.6 4.6 1.4 1.4 6-6-6-6z"></path></defs><g><g transform="translate(-1299 -37)"><use fill="#fcfcfc" xlink:href="#twwya"></use></g></g>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card"> -->
          <!-- <div class="card-body"> -->
            <div id="Automation">
              <div id="CreateWizardSetup">
                <div id="SelectEventStep">
                  <div class="RecentEventsDescriptionCardGrid">
                    <!-- <div class="col-md-12"> -->
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="card card-widget" style="display: block;"><div><svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16"><g><g><path fill="#a0aabe" d="M7 2c1.1 0 2 .9 2 2v1c0 1.1-.9 2-2 2s-2-.9-2-2V4c0-1.1.9-2 2-2zm0 7c2.2 0 4-1.8 4-4V4c0-2.2-1.8-4-4-4S3 1.8 3 4v1c0 2.2 1.8 4 4 4zm-.9 3H8c1.5 0 2.8.8 3.5 2H2.6c.7-1.2 2-2 3.5-2zm7.9 4c0-3.3-2.7-6-6-6H6c-3.3 0-6 2.7-6 6z"></path></g></g></svg><span class="mb-1">Your selected audiences</span><div class="card card-widget"><div><div><div></div><div>Select all Re-Engagement </div><div>(1)</div></div><div><div><img class="abcTAG Finished" src="/static/platform/img/audience/finished.svg" alt=""><img src="/static/platform/img/audience/video_viewers.svg" alt=""><span>Video Casuals</span><div><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="15px" viewBox="0 0 13 15" enable-background="new 0 0 13 15" xml:space="preserve">  <image id="image0" width="13" height="15" x="0" y="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAMAAAAI/bVFAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                              AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEUAAAC0ucSzucO0uMSz
                              t8O3t8eyusK0ucS1ucW1usW1ucW0usSvv7+0ucO1usW0ucT///97Ep42AAAAD3RSTlMAoIBwQCA/
                              sMAwf78Q8GDgJ6GXAAAAAWJLR0QQlbINLAAAAAd0SU1FB+MGEAgrDPKIgUkAAABBSURBVAjXY2Dk
                              hwImBiDgZ2aBAFYwj4WBlQ0KQDxWmFp+diCPhZ8BApg4qMTj4ETmMTDg53FBADeIx8MBdRgvHwDE
                              nwQpxAJpPAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wNi0xNlQwODo0MzoxMiswMzowMNWUEQ4A
                              AAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDYtMTZUMDg6NDM6MTIrMDM6MDCkyamyAAAAAElFTkSu
                              QmCC"></image></svg></div></div></div></div><span>Select all in this view</span></div></div></div>
                            </div>
                          </div>
                          <!-- Tab links -->
                          <div class="tab">
                            <button class="tablinks" onclick="openCity(event, 'ads')">Ads</button>
                            <button class="tablinks" onclick="openCity(event, 'instagram')">Instagram Post</button>
                            <button class="tablinks" onclick="openCity(event, 'facebook')">Facebook Post</button>
                          </div>

                          <!-- Tab content -->
                          <div id="ads" class="tabcontent">
                            <% @frames.each_slice(3).with_index do |frames,index_one| %>
                              <div class="row">
                                <% frames.each_with_index do |frame,index_two| %>
                                  <div class="col-md-4">
                                    <label class="SimpleCheckbox" style="background-color: rgb(255, 255, 255);float: right;">
                                      <input class="SimpleCheckbox__Input" type="checkbox" id="combination-checkbox_<%= index_one %><%= index_two %>">
                                    </label>
                                    <div class="thumbnail">
                                      <a href="<%= frame %>" target="_blank">
                                        <iframe id="frame22_<%=index_one%><%= index_two %>" src=<%= frame %>></iframe>
                                      </a>
                                    </div>
                                    <button onclick="creative_function11(this, <%=index_one%><%=index_two%>)" col-no = "0" data-toggle="tooltip" frame_source="<%= frame %>" data-placement="bottom" title="<b>Results<b>">Ad Preview
                                    </button>
                                  </div>
                                <% end %>
                              </div>
                            <% end %>
                          </div>

                          <div id="instagram" class="tabcontent">
                            <% unless @all_media_urls.empty? %>
                              <% @all_media_urls.each_slice(3) do |urls| %>
                                <div class="row">
                                  <% urls.each do |url| %>
                                    <div class="col-md-4">
                                      <div class="float-right">
                                        <label class="SimpleCheckbox" style="background-color: rgb(255, 255, 255);"><input class="SimpleCheckbox__Input" type="checkbox"></label>
                                      </div>
                                      <div class="col-md-12 mt-4">
                                        <div class="thumbnail">
                                          <a href="<%= url %>" target="_blank">
                                            <iframe src="<%= url %>"></iframe>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  <% end %>
                                </div>
                              <% end %>
                            <% else %>
                              <div class="row">
                                <div class="col-md-12 text-center">
                                  <p>Instagram Posts not available.</p>
                                </div>
                              </div>
                            <% end %>
                          </div>

                          <div id="facebook" class="tabcontent">
                            <% unless @all_posts.empty? %>
                              <% @all_posts.each_slice(3) do |page_posts| %>
                                <div class="row">
                                  <% page_posts.each do |page_post| %>
                                    <% page = page_post.rpartition('_').first %>
                                    <% post = page_post.rpartition('_').last %>
                                    <div class="col-md-4">
                                      <div class="float-right">
                                        <label class="SimpleCheckbox" style="background-color: rgb(255, 255, 255);"><input class="SimpleCheckbox__Input" type="checkbox"></label>
                                      </div>
                                      <div class="col-md-12 mt-4">
                                        <div class="thumbnail">
                                          <div class="fb-post" data-href="https://www.facebook.com/<%=page%>/posts/<%=post%>/"></div>
                                        </div>
                                      </div>
                                    </div>
                                  <% end %>
                                </div>
                              <% end %>
                            <% else %>
                              <div class="row">
                                <div class="col-md-12 text-center">
                                  <p>Facebook Posts not available.</p>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->
                  </div>
                </div>
                <form>
                  <div class="TriggerSettingsContainer col-md-12 card py-3">
                    <h3>Set Up Audience</h3>
                  </div>
                <!-- <div class="card py-3"> -->
                <form>
                  <div class="form1 col-md-12 card py-3">
                    <h3>When to Launch</h3>
                  </div>
                <!-- </div> -->
                </form>
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<!--**********************************
Content body end
***********************************-->

<div class="modal" id="my-modal1"  tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="ad-copy-text-row1"></div>
        <!-- <div id="test"></div> -->
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  function creative_function11(obj, index_two){
    var col_val = $(obj).attr("col-no");
    var col_frame1 = $("#frame22_"+ index_two).attr("src");
    var col_frame_source = $(obj).attr("frame_source");
    if ($(obj).attr("col-no") == 0)
    {
      $("#my-modal1").modal("show");
      $("#ad-copy-text-row1").html("<iframe src="+col_frame_source+" ></iframe>");
    }else {
      $("#ad-copy-text-row1").html("<iframe src="+col_frame_source+"></iframe>");
    }
  }
</script>
